
html, body {
    background: #999999;
    height: 100%;
    color: #123456;
    font-family: inherit;
    text-align: center;
}

h1 {
    color: #123456;
}

#myButton{
    font-size: 25px;
}

#textFieldLabel {
    font-size: 30px;
}

#myTextField {
    font-size: 30px;
    background-color: #123fff;
}

#theremin{
        font-size: 30px;

}

#effekte{
        font-size: 30px;

}

#convolver{
        font-size: 30px;

}

#drumMachine{
        font-size: 30px;

}
#compressor{
        font-size: 30px;

}

html, body {
    height: 100%; padding: 0; margin: 0;
}

div {
    width: 50%; height: 50%; float: left;
}

#div1:active, #div2:active, #div3:active, #div4:active {
   background: #ffffff;
}

#div1 {
    background: #F79F79;
}

#div2 {
    background: #F7D08A;
}

#div3 {
    background: #E3F09B;
}

#div4 {
    background: #87B6A7;
}

#convPlayButton{
    background-color: #128999;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn {
    background-color: #128999;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #128990;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#myDropdown{
    width: 100%;
    position: relative;
}

#dropdownShell{
    width: 100%;
    position: relative;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}


.dropdown-content {
    display: none;
    position: relative;
    background-color: #999999;
    min-width: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.show {display:block;}
